html {
    --BackGround: rgb(8, 9, 30);
    --Word: rgb(213, 213, 213);
    --attention: rgb(230, 197, 9);
    --WordOpacity: rgb(159, 159, 159);

}

* {
    margin: 0;
}

body {
    background-color: var(--BackGround);
}

.header {
    display: flex;
    justify-content: space-around;
    color: var(--Word);

}

.header .Logo {
    display: flex;
    font-family: "Poetsen One", sans-serif;
    font-size: 25px;
    gap: 10px;
    margin: 10px;
    cursor: pointer;
}

.header .Logo span {
    color: var(--attention);
}

.items {
    margin: 15px;
    display: flex;
    gap: 30px;
    transition: all 5s linear 0.3s;

}

.items div:hover {
    color: var(--attention);
    transform: rotate(20deg);
    cursor: pointer;
}

.contact {
    display: flex;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
}


.left-block {
    max-width: 40%;
    margin: 11rem;
}

.left-block p {
    color: var(--attention);
    font-size: 24px;
}

.left-block h1 {
    color: var(--Word);
    font-size: 50px;
}

.left-block span {
    color: var(--WordOpacity);
}


.left-block br {
    margin: 20px;
}

.left-block a {
    text-decoration: none;
    color: black;
    border: 1px solid white;
    background-color: var(--attention);
    border-radius: 20px;
    padding: 7px;

}

.Main {
    display: flex;
    gap: -50px;
}

.right-block {
    width: 50%;
}

.right-block img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin: 80px;
}



.About .about-head {
    display: flex;
    justify-content: center;
    color: var(--attention);
    margin: 30px 20px;
    box-shadow: 0 1px var(--attention);
    padding: 4px;
    width: fit-content;
    margin: 0 auto;
    font-family: "Playfair Display", serif;
}



.left {
    max-width: 50%;
}

.left img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.about-content {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.right {
    margin-left: 40px;
    color: var(--Word);
}

.right a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    background-color: var(--attention);
    padding: 10px;
    color: black;
    margin: 20px;
}

.right ul {
    margin-bottom: 20%;
}

.Service {
    padding: 50px;
    justify-content: center;
    margin: 0 auto;
    max-height: 1000px;
}

.Service-header {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: var(--Word);
    font-size: 70px;
    text-shadow: 1px 1px 2px rgb(196, 217, 127);
    margin-bottom: 50px;
}

.service-block {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px 300px;
    color: var(--Word);
    justify-content: center;
    gap: 30px;

}

.service-items {
    border: 1px solid var(--BackGround);
    background-color: rgb(23, 20, 40);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    transition: transform 5s ease-out;
}

.service-items:hover {
    transform: scale(1.2);
}

.service-items .i {
    font-size: 70px;
    display: flex;
    justify-content: center;
    padding: 30px;

}


.service-items h5 {
    display: flex;
    justify-content: center;
    padding: -10px;
    color: var(--attention);
}

.service-items p {
    padding: 30px;
    color: var(--Word);
}
.footer{
    height: 150px;
    background-color: black;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.footer-content a{
    font-size: 50px;
  
}

 @media screen and(max-width: 750px) {
    .header{
        background-color: antiquewhite;
    }
 }